<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="my-wrapper valign-wrapper">
    <div class="row">
        <div class="col s12 m10 offset-m1 offset-s1">
            <!--<div class="card-panel transparent valign center-block"> -->
            <div class="row">
                <div class="col s12 m6 offset-m3 offset-s3">
                </div>
            </div>
          
            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        Experienced Software Engineer with a demonstrated history of working in the information
                        technology and services industry.
                        Skilled in Java (Struts 1.x), e-matrix,TVC,Javascript.
                        Strong engineering professional with a Bachelor’s Degree focused in Computer Science and
                        Engineering
                        from Shahjalal University of Science and Technology.
                    </span>
                </div>
            </div>
            <!--</div>-->
            <div class="line"></div>
        </div>
    </div>
</div>
