.line {
    width: 200px;
    height: 10px;
    border-bottom: 1px solid black;   
    margin: auto;
}
.text-style {
    font-family: 'Roboto';
    text-align: justify;
}
.zoom {
    transition: transform .3s
}
.zoom:hover {
    transform: scale(2);
}