.line {
    width: 200px;
    height: 10px;
    border-bottom: 1px solid black;   
    margin: auto;
}
.text-style {
    font-family: cursive;
}
.zoom {
    transition: transform .2s
}
.zoom:hover {
    transform: scale(2);
}