<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="my-wrapper valign-wrapper">
    <div class="row"></div>
    <div class="row">
        <div class="col s12 m10 offset-m1">

            <div class="row text-style">
                <div class="col s12 m6">
                    <div class="card-panel card-style">
                        <span class="white-text">Home</span><br>
                        <span class="white-text">e-mail: s.i.sajjad.islam@gmail.com</span><br>
                        <span class="white-text">cell: +880 1916255511</span><br>
                        <span class="white-text">Mohammadpur, Dhaka-1207</span><br>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel card-style">
                        <!--teal-->
                        <span class="white-text">Office</span><br>
                        <span class="white-text">e-mail: sajjadul.islam@bjitgroup.com</span><br>
                        <span class="white-text">cell: +880 1916255511</span><br>
                        <span class="white-text">Baridhara, Dhaka-1207</span><br>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="line"></div>
            </div>-->
            <div class="row">
            </div>
            <div class="row">

                <div class="col s2 m1 offset-m1">
                        <a href="http://www.google.com">
                            <img src="assets/images/gitIcon_50_2.png" alt="github" class="circle responsive-img" />
                        </a>
                </div>

                <div class="col s2 m1 offset-m1">
                        <a href="http://www.google.com">
                            <img src="assets/images/leetCodeIcon_50_2.png" alt="leetcode"
                                class="circle responsive-img" /></a>
                </div>
                <div class="col s2 m1 offset-m1">
                        <a href="http://www.google.com">
                            <img src="assets/images/ResearchGateIcon_50_2.png" alt="researchgate"
                                class="circle responsive-img" /> </a>
                </div>
                <div class="col s2 m1 offset-m1">
                        <a href="http://www.google.com">
                            <img src="assets/images/linkedinIcon_50_2.png" alt="linkedin"
                                class="circle responsive-img" /></a>
                </div>
                <div class="col s2 m1 offset-m1">
                        <a href="http://www.google.com">
                            <img src="assets/images/facebookIcon_50_2.png" alt="facebook"
                                class="circle responsive-img" /></a>
                </div>

            </div>
            <!--<div class="row">
                <div class="col s12 m12">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><a href="http://www.google.com">
                                <img src="assets/images/gitIcon_50.png" alt="github" class="circle responsive-img" />
                            </a>Github</mat-list-item>
                        <div class="row">

                        </div>
                        <mat-list-item role="listitem"><a href="http://www.google.com">
                                <img src="assets/images/leetCodeIcon_50.png" alt="leetcode"
                                    class="circle responsive-img" /></a>
                        </mat-list-item>
                        <div class="row">
                        </div>
                        <mat-list-item role="listitem"><a href="http://www.google.com">
                                <img src="assets/images/ResearchGateIcon_50.png" alt="researchgate"
                                    class="circle responsive-img" /> </a></mat-list-item>
                        <div class="row">

                        </div>
                        <mat-list-item role="listitem"><a href="http://www.google.com">
                                <img src="assets/images/linkedinIcon_50.png" alt="linkedin"
                                    class="circle responsive-img" /></a></mat-list-item>
                        <div class="row">

                        </div>
                        <mat-list-item role="listitem"><a href="http://www.google.com">
                                <img src="assets/images/facebookIcon_50.png" alt="facebook"
                                    class="circle responsive-img" /></a></mat-list-item>
                    </mat-list>
                </div>
            </div> -->
        </div>

    </div>
</div>
