<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

<div class="my-wrapper valign-wrapper">
    <div class="row">
        <div class="col s12 m10 offset-m1 offset-s1">
            <!--<div class="card-panel transparent valign center-block"> -->
            <div class="row">
                <div class="col s12 m6 offset-m3 offset-s3">
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        <b>Tourist Friend</b><br>
                        An android application for the people who love to travel. With the help of the app, a traveler couldeasily find the nearby tourist spots and easily select a place to visit by checking the user rating andauthentic photos that were uploaded by other users previously. To make sure the authenticity of thephotos of the right place, geocode of those places was saved in image metadata
                        <br>Source code <a href="https://github.com/sajjadIslam2619/TouristFriend" target="_BLANK">here </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        <b>Ludo simulator</b><br>
                        An Artificial Intelligent Ludo game using “Genetic Algorithm” with different difficulty levels, developedby using java game library Slick2D
                        <br>Source code <a href="https://github.com/sajjadIslam2619/Ludo-simulator" target="_BLANK">here </a>
                    </span>
                </div>
            </div>
            <!--</div>-->
            <div class="line"></div>
        </div>
    </div>
</div>