<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<div class="my-wrapper valign-wrapper">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <!--<div class="card-panel transparent">-->
            <div class="row">
                <div class="col s12 m6 offset-m3">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        Due to the geographic location of Bangladesh, heavy rainfall with the thunderstorm is a common
                        phenomenon. Every year lightning causes lots of casualties.
                        There are very few sources available for lightning-related information. Global Hydrology
                        Resource
                        Centre (GHRC) has a huge collection of lightning data from 1998 to April 2015.
                        The other source of lightning is the news incidents published in Newspapers.
                        This paper explores the effects of lightning in Bangladesh during the last several years, by
                        analyzing lightning news from newspapers and Lightning Imaging Sensor (LIS)
                        data from Global Hydrology Resource Center (GHRC). We analyzed LIS data and news data to find
                        the
                        correlation between these datasets. Finally, we report lightning-prone
                        areas with time when lightning mostly occurs in Bangladesh based on those results

                    </span>
                </div>
            </div>
            <!--</div>-->
            <div class="line"></div>
        </div>
    </div>
</div>