<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="my-wrapper valign-wrapper">
    <div class="row">
        <div class="col s12 m10 offset-m1 offset-s1">
            <!--<div class="card-panel transparent valign center-block"> -->
            <div class="row">
                <div class="col s12 m6 offset-m3 offset-s3">
                </div>
            </div>
          
            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        Experienced Software Engineer with a demonstrated history of working in the information
                        technology and services industry.
                        Skilled in Java (Struts 1.x), e-matrix,TVC,Javascript.
                        Strong engineering professional with a Bachelor’s Degree focused in Computer Science and
                        Engineering
                        from Shahjalal University of Science and Technology.<br>
                        Working as a Software Engineer at BJIT Limited (From 15 March, 2016 to present). 

Product Data Management System (PDM) [March, 2016-January, 2018]<br>
PDM system manages the product data, from product data design to supply different ERP systems. The main responsibility was to develop new features, extend existing features and fixing existing bug. Faced different difficult types of challenges during develop the system. One of them is to search large volume of file in run time. Solved the issue using Apache Solr.  
<br>Used Languages and Frameworks: Java (Struts 1.2), CSS, JavaScript, AJAX, HTML 5, TCL.
<br>Database: e-matrix,MQL.
<br>Used Tools: CVS, Redmine, Eclipse,Tomcat 7, Apache HTTP Server.<br>

System Integration (February, 2018 to present)<br>
<br>Design and Develop Integration with Enovia V6 with ERP and PDM. Transfer different types of item from one system to another system using REST service.  
<br>Used Languages and Frameworks: Java (Spring Boot), TCL.
<br>Database: e-matrix,MQL.
<br>Used Tools: Git, Redmine, NetBeans,Tomcat 8, Apache HTTP Server.

                    </span>
                </div>
            </div>
            <!--</div>-->
            <div class="line"></div>
        </div>
    </div>
</div>