<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="my-wrapper valign-wrapper">
    <div class="row">
        <div class="col s12 m10 offset-m1 offset-s1">
            <!--<div class="card-panel transparent valign center-block"> -->
            <div class="row">
                <div class="col s12 m6 offset-m3 offset-s3">
                </div>
            </div>
          
            <div class="row">
                <div class="col s12 m12">
                    <span class="black-text text-style">
                        Software Engineer, <a href="https://bjitgroup.com/" target="_BLANK">BJIT limited </a> Dhaka.<br> 
                        From 15 March, 2016 to present <br><br>
                        Product Data Management System (PDM) [March 2016-January 2018] <br>
                        PDM system manages the product data, from product data design to supply different ERP systems.The main responsibility was to develop new features, extend existing features and fixing the existing bugs. While developing the system, one of the challenging tasks was to search a large volume of files in run time which was resolved by using Apache Solr. <br><br>
                        System Integration (February 2018 to present) <br>
                        Design and Develop Integration with Enovia V6 with ERP and PDM. Transfer different types of items from one system to another system using RESTful APIs and SOAP service. Also, design and develop message broker(RabbitMQ) for different services.<br>
                        <br>Used Languages and Frameworks: Java (Struts 1.2, Spring Boot, REST API, SOAP service,JPO, RabbitMQ), JavaScript, AJAX, TCL.
                        <br>Database: e-matrix,MQL.
                        <br>Used Tools: Git, Redmine, NetBeans, Eclipse, Tomcat 9, Apache HTTP Server.

                    </span>
                </div>
            </div>
            <!--</div>-->
            <div class="line"></div>
        </div>
    </div>
</div>